body {
    font-family: helvetica, arial, sans-serif;
    color: #575757;
    min-height: 1600px;
    padding: 10px;
   
}

.wrapper{
    border: 5px solid grey;
    padding: 10px;
}
h1, h2 {
    margin: 0;
    padding: 0;
    color:black;
}

.profileimg {
    float:left
}

.header {
    padding: 5px;
    color: #373737;
    background-color: lightblue;
    border: 1px solid grey;
}

