/*General Global Styling*/
body {
    background-color: black;
}


p {
    font-family: verdana;
    font-size: 20px;
}

li {
    float: left;
}

img {
    width: 121px;
    height: 95px;
    object-fit: contain;
}

.center-div {
    margin: 0 auto;
    max-width: 800px;
}

/*Fullpage*/
.wrapper {
    padding: 0px 200px;
}

/*First section (Homepage)*/
.home {
    background-image: url(../img/background1_kissing.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*background-size: cover;*/
    height: 800px;
    color: white;
    text-align: center;
}


/*main content of the homepage*/
.homePane {
    float: left;
    /*border: 5px solid blue;*/
}

/*top navigation section of the homepage 2-parts*/
.homeNav {
    
}

/*part 1 of top navigation section*/
.hnSection1 {
    padding-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center
}

    .hnSection1 h2 {
        padding: 5px;
        border-style: solid;
        border-width: 3px;
        border-color: white;
        width: 100px;
        margin: auto;
    }


/*part 2 of top navigation section (NavBar)*/
.hnSection2 {
    padding-left: 13em;
    padding-top: 1em;
}

    .hnSection2 ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
    }
   
    .hnSection2 li a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
    }
/*li a:hover:not(.active) {
    background-color: white;
}*/

.active {
    background-color: greenyellow;
}


/*homepage content section 4 parts*/
.homeContent {
    padding-top: 23%;
    text-align: center;
}

/*part 1 of content (Header)*/
.hcSection1 {
    color: gold;
}

/*part 2 of content (Body)*/
.hcSection2 {
    width: 900px;
   
}

/*part 3 of content (Scroll Nav)*/
.hcSection3 {
}

/*part 4 of content (Bottom White Box Border)*/
.hcSection4 {
}

/*side content of the homepage*/
.sidePane {
    float: right;
    writing-mode: vertical-lr;
    width: 3em;
    height: auto;
    transform: rotate(-180deg);
    /*border: 5px solid red;*/
}


/*side content of the homepage phone section*/
.hsPhone {
    float: right;
    transform: rotate(-180deg);
}

/*side content of the homepage social media section*/
.hsMedia {

}

    .hsMedia ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .hsMedia li a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
    }

/*Transition into 2nd Section */


/*Second section (Invites) */

.invites{
    background-color: #694fca;
    height: 900px;
    text-align: center;
    padding: 20px 20px;
}

.invContentBody p {
   
}

/*Invites Content */

#invHeader1{
   font-size: 3em;
   text-align: left;
   width: 300px;
   float: left;
}

.invContent {
    text-align: left;
}

.invBoxHeader {
    color: yellow;
    font-size: 20px;
}

.invBox{
    text-align: left;
    width: 280px;

}

    .invBox p {
        font-size: 15px;
    }

#invDiv1, #invDiv2, #invDiv3, #invDiv4 {
    width: 25%;
    height: 350px;
    border-width: 1px;
    border-color: #000;
    border-style: hidden;
    box-sizing: border-box;
    text-align: left;
    padding: 30px 30px;
    font-size: 15px;
}

#invDiv1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
}

#invDiv2 {
    float: left;
}

#sinvDiv3 {
    float: left;
}

#invDiv4 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
}

/*Third section (Unity) */

.unity {
    background-image: url('../img/WeAreUnity.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 800px;
    color: white;
    text-align: center;
}

.uHeading{
    width: 40em;
    height: 30em;
    padding-top: 9em;
    padding-left: 10em;
    color: black;
    text-align: center;
}

.unity #playbutton {
    width: 120px;
    height: 120px;
    text-align: center;
    margin-left: 40%;
}

#imgplybuttion {
    width: 120px;
    height: 120px;
}

/*Transition into 4th section */
.Transition2{

}

/*Fourth section (honor) */
.honor {
    background-color: white;
    height: 800px;
    padding: 15em 5em;
    /*margin-top: 20px;*/
}

#hHeader {
    width: 15em;
    height: 8em;
    /*border: 1px solid blue;*/
}

#frame3 {
    width: 520px;
    height: 350px;
    float: left;
}

#frame3menue{
    float: right;

}

/*Fifth section (Global) */
.globalco {
    background-image: url('../img/bg_snowforrest.png');
    background-repeat: no-repeat;
    /*background-size: 100% 100%;*/
    background-size: cover;
    /*color: white;*/
    text-align: center;
    padding: 20px 20px;
}

.globalco h1{
    padding-top: 20em;
}

.globalco h4{
    /*padding-top:16em;*/
}

#Transition3 {
    /*border: 5px solid blue;*/
}

/*Sixth section (Customer) */
.glcustomer {
    /*border: 5px solid blue;*/
    background-color:antiquewhite;
    width: 200px;
    height: 250px;
    text-align: center;
    padding: 10px;
    float: left;
    margin-right: 25px;
}

.glcustomer p{
    font-size:10px;
    }

.custimg {
        width: 100px;
        height: 100px;
    }


/*Seventh section (Footer) */



/*-------------------------------------------testing code css line 1-----------------------------------------------------*/
.custimg2 {
    /* Set rules to fill background */
    max-height: 100px;
    min-height: 100px;
    min-width: 100%;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    /*position: fixed;
    top: 0;
    left: 0;*/
}



/*-------------------------------------------testing code css line 2-------------------------------------------------*/
